@import '../icons/icomoon/style.css';

:root {
    --h2: 600 1.625rem Poppins;
    --gray10: #F3F6F6;
    --gray20: #E3E3E3;
    --white: #FFFFFF;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: px px 100px;
    inline-size: 100%;
    row-gap: 5px;
}

.header {
    border-radius: 16px;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    display: flex;
    flex-direction: row-reverse;
}

.header-wrapper {
    background-color: var(--white);
    display: flex;
    padding-block: 30px;
    padding-inline: 30px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
}



.header-wrapper:hover .menu-list {
    display: block;
    margin-block-start: 100px;
    transform: translate(-70%, 30%);
    /* margin-block-end: 100px ; */
    inline-size: 200px;
    text-align: right;
}

.header-wrapper .menu-list {
    background: red;
}

.header-wrapper .menu-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


.side-content {
    background: var(--white) ;
    
    margin-block-start: 180px;
    margin-block-end: 24px;
    border-radius: 20px; 
    block-size: 33%;
}

/* details */ 

.side-content-wrapper{
    /* margin-block-start: 100px; */
    text-align: center;
    padding-inline: 24px;
    
}

.side-content-wrapper img {
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate(0, -50%);
    margin-block-end: -125px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6F6;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
}

.social-icons a {
    text-decoration: none;
}

.personal-info {
    
    background: var(--gray10);
    margin-block-start: 28px;
    padding-block:28px; 
    padding-inline: 28px;
    border-radius: 1rem;
    
}

.personal-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    height: 2.5rem;
    width: 2.5rem;
    
}

.personal-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-block: 10px;
    border-block-end: solid 1px var(--gray20);
    inline-size: 100%;
}

.personal-info .personal-item:nth-of-type(4){
    border-block-end: none;
}

.personal-text {
    display: block;
    text-align: left;
    margin-inline-start: 16px;
    text-overflow: "-";
    overflow: hidden; /* Oculta el contenido que sobresale */
    word-wrap: break-word; /
}

.personal-text p {
    margin: 0;
}

.download-wrapper{
    block-size: 100%;
    margin-block: 24px;
}

.download-button {
    padding-inline: 32px;
    padding-block: 12px;
    background: rgb(223,39,117);
    border-radius: 16px;
    text-decoration: none;
    color: var(--white)
}

.content {
    background: var(--white) ;
    margin-block-end: 24px;
    border-radius: 20px;
}

.content-wrapper {
    padding-inline: 24px;
    padding-block-end: 24px;
}

.content-categories {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content-details {
    display: flex;
    flex-direction: row;
    block-size: 135px;
    border-radius: 16px;
    padding-inline: 24px;
    padding-block: 24px;
    gap: 16px;
    
}

.content-details:nth-of-type(1) {
    background: #FCF4FF;
}

.content-details:nth-of-type(2) {
    background: #FEFAF0;
}

.content-details:nth-of-type(3) {
    background: #FCF4FF;
}

.content-details:nth-of-type(4) {
    background: #FFF4F4;
}

.content-details:nth-of-type(5) {
    background: #FFF0F8;
}

.content-details:nth-of-type(6) {
    background: #F3FAFF;
}


.details-text p,h3 {
    margin: 0;
}


@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    .header-wrapper {
        display: none;
    }

    body {
        /* margin: 0 auto; */
    }

    .layout {
        margin: 0 auto;
    }
    

    .layout-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: px px px;
        column-gap: 40px;
    }

    .content-wrapper {
        /* margin: 0 auto; */
    }
    
    .header {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .side-content {
        grid-row-start: 2;
        grid-row-end: 4;
        block-size: 90vh;
        position: sticky;
        top: 220px;
    }


    .content-categories {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content-details {
        display: flex;
        inline-size: 80%;
        block-size: 80%;
        gap: 40px;
    }

    .menu {

    }
    
    .menu-wrapper {
        background-color: var(--white);
        margin-block-start:180px;
        margin-block-end: 40px;
        display: flex;
        padding-block: 30px;
        padding-inline: 30px;
        flex-direction: row-reverse;
        gap: 20px;
        border-radius: 16px;
        margin-inline-start: 150px;
    }
    
    .menu-wrapper .box {
        padding-block: 16px;
        padding-inline: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--gray10);
        inline-size: 75px;
        block-size: 80px;
        border-radius: 16px;
        justify-content: center;
        text-align: center;
    }

    .menu-wrapper a {
        text-decoration: none;
    }

}