@import '../icons/icomoon/style.css';

:root {
    --h2: 600 1.625rem Poppins;
    --gray10: #F3F6F6;
    --gray20: #E3E3E3;
    --white: #FFFFFF;

    --colorBox1: #FFF4F4;
    --colorBox2: #EEF5FA;
    --colorBox3: #FFF1FB;
    --colorBox4: #F2F4FF;
    --colorBox5: #FEFAF0;
    --colorBox6: #FFF0F8;

    --font-color1: #b578ff;
    --font-color2: #f06d8f;
    --font-color3: cadetblue;
    --font-color4: #1da1f2;
    --font-color5: #269fff;
    --font-color6: #ff75d8;
    --font-color7: #ff6080;
    --font-color8: #b578ff;
    --font-color9: #dda10c;  

}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: px px 100px;
    inline-size: 100%;
    row-gap: 5px;
}

.header {
    border-radius: 16px;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    display: flex;
    flex-direction: row-reverse;
}

.header-wrapper {
    background-color: var(--white);
    display: flex;
    padding-block: 5px;
    padding-inline: 5px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

.header .box {
    background-color: var(--gray10);
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 12px;
    transition: 0s background-color;
}

.header a {
    text-decoration: none;
}

.header .box:hover {
    background: rgb(250, 176, 196);
    transition-delay:0.1s;
}


.side-content {
    background: var(--white) ;
    
    margin-block-start: 180px;
    margin-block-end: 24px;
    border-radius: 20px; 
}

/* details */ 

.side-content-wrapper{
    /* margin-block-start: 100px; */
    text-align: center;
    padding-inline: 24px;
    
}

.side-content-wrapper img {
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate(0, -50%);
    margin-block-end: -125px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block-end: 50px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray10);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    transition: 0s background-color;
    text-decoration: none;
}

.social-icons a:hover {
    background: rgb(250, 176, 196);
    transition-delay:0.1s;
}

.personal-info {
    background: var(--gray10);
    margin-block-start: 28px;
    padding-block:28px; 
    padding-inline: 28px;
    border-radius: 1rem;
}

.personal-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    height: 2.5rem;
    width: 2.5rem;
    
}

.personal-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-block: 10px;
    border-block-end: solid 1px var(--gray20);
    inline-size: 100%;
}

.personal-info .personal-item:nth-of-type(4){
    border-block-end: none;
}

.personal-text {
    display: block;
    text-align: left;
    margin-inline-start: 16px;
    text-overflow: "-";
    overflow: hidden; /* Oculta el contenido que sobresale */
    word-wrap: break-word; /
}

.personal-text p {
    margin: 0;
}

.download-wrapper{
    block-size: 100%;
    margin-block: 24px;
}

.download-button {
    padding-inline: 32px;
    padding-block: 12px;
    background: rgb(223,39,117);
    border-radius: 16px;
    text-decoration: none;
    color: var(--white)
}

.content {
    background: var(--white) ;
    margin-block-end: 24px;
    border-radius: 20px;
}

.content-wrapper {
    padding-inline: 24px;
    padding-block-end: 24px;
}

.content-categories {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content-details {
    display: flex;
    flex-direction: row;
    block-size: 135px;
    border-radius: 16px;
    padding-inline: 24px;
    padding-block: 24px;
    gap: 16px;
    
}

.content-details:nth-of-type(1) {
    background: var(--colorBox1);
}

.content-details:nth-of-type(2) {
    background: var(--colorBox2);
}

.content-details:nth-of-type(3) {
    background: var(--colorBox3)
}

.content-details:nth-of-type(4) {
    background: var(--colorBox4)
}

.content-details:nth-of-type(5) {
    background: var(--colorBox5)
}

.content-details:nth-of-type(6) {
    background: var(--colorBox6)
}


.details-text p,h3 {
    margin: 0;
}

#about-me, #experience {
    display: none;
}

.content-resume {
    display: grid;
    grid-template-columns: 1fr[education];
    grid-template-rows: repeat(20,px);
    gap: 10px;
}

.content-resume h1 {
    border-radius: 16px;
    padding-inline: 5px;
    padding-block: 5px;
}

.content-resume .box {
    border-radius: 16px;
    padding-inline: 5px;
    padding-block: 5px;
}

.content-resume .box span {
    font-weight: 300;
    font-style: italic;
    padding-inline: 5px;
    padding-block: 5x;
    border-radius: 16px;
    display: flex;
    justify-content: right;
}

.content-resume .box p {
    margin: 0;
    font-weight: 800;
}

.content-resume .box ul {
    margin: 0;
    font-weight: 300;
}

.content-resume .box a {
    text-decoration: none;
}

.content-resume .box a {
    font-size: 48px;
    padding-inline: 20px;
    color: var(--font-color5)
}

.content-resume-download {
    display: flex;
    align-items: center;
}

.content-resume .box:nth-of-type(1) {
    background: var(--colorBox1);
}
.content-resume .box:nth-of-type(2) {
    background: var(--colorBox2);
}
.content-resume .box:nth-of-type(3) {
    background: var(--colorBox3);
}
.content-resume .box:nth-of-type(4) {
    background: var(--colorBox4);
}
.content-resume .box:nth-of-type(5) {
    background: var(--colorBox5);
}
.content-resume .box:nth-of-type(6) {
    background: var(--colorBox6);
}
.content-resume .box:nth-of-type(7) {
    background: var(--colorBox1);
}
.content-resume .box:nth-of-type(8) {
    background: var(--colorBox2);
}
.content-resume .box:nth-of-type(9) {
    background: var(--colorBox3);
}


@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    .header-wrapper {
        display: none;
    }

    body {
        /* margin: 0 auto; */
    }

    .layout {
        margin: 0 auto;
    }
    

    .layout-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: px px px;
        column-gap: 40px;
    }

    .content-wrapper {
        /* margin: 0 auto; */
    }
    
    .header {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .side-content {
        grid-row-start: 2;
        grid-row-end: 4;
        block-size: 90vh;
        position: sticky;
        top: 220px;
    }


    .content-categories {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content-details {
        display: flex;
        inline-size: 80%;
        block-size: 80%;
        gap: 40px;
    }

    .menu {

    }
    
    .menu-wrapper {
        background-color: var(--white);
        margin-block-start:180px;
        margin-block-end: 40px;
        display: flex;
        padding-block: 30px;
        padding-inline: 30px;
        flex-direction: row;
        justify-content: end;
        gap: 20px;
        border-radius: 16px;
        margin-inline-start: 150px;
    }
    
    .menu-wrapper .box {
        padding-block: 16px;
        padding-inline: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--gray10);
        transition: 0s background-color;
        inline-size: 75px;
        block-size: 80px;
        border-radius: 16px;
        justify-content: center;
        text-align: center;
    }

    .menu-wrapper .box:hover {
        background: rgb(250, 176, 196);
        transition-delay:0.1s;
    }

    .menu-wrapper a {
        text-decoration: none;
    }

    .menu-wrapper span {
        font-size: 48px;
    }

    .menu-wrapper .box:nth-of-type(1) span{
        color: var(--font-color1)
    }
    .menu-wrapper .box:nth-of-type(2) span{
        color: var(--font-color2)
    }
    .menu-wrapper .box:nth-of-type(3) span{
        color: var(--font-color3)
    }

}